.app {
  text-align: center;
}

.app__header {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: 'Megrim';
}

.app__logo {
  height: 10vmin;
  pointer-events: none;
  margin: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    animation: App-logo-spin infinite 30s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app__h {
  font-size: 60px;
  color: tan; 
  margin: 30px;
}
@media (max-width: 540px) {
  .app__h {
      font-size: 40px;
      margin: 20px;
  }
}
@media (max-width: 320px) {
  .app__h {
      font-size: 20px;
      margin: 10px;
  }
}
