
.letter {
    color: black;
    background-color: tan;
    border: 1px solid black;
    height: 5%;
    width: 10%;
    cursor: crosshair;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Calligraffitti'
}

.letter__h {
    font-size: 200%;
    text-align: center;
}